#container {
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
}

#inputContainer {
    display: flex;
    justify-content: center;
}
#weatherContainer {
    display: flex;
    justify-content: center;
    font-size: large;
}
